---
import Base from "../layouts/Base.astro";
import "../styles/global.css";
---

<Base title="About – LexBlog Library" currentPage="about">
  <div class="max-w-[1240px] mx-auto px-8 py-24">
    <p>about</p>
  </div>
</Base>
