---
import Base from "../layouts/Base.astro";
import "../styles/global.css";
---

<Base title="Author Record – LexBlog Library" currentPage="author-record">
  <div class="max-w-[1240px] mx-auto px-8 py-24">
    <p>author record</p>
  </div>
</Base>
